.modal__backdrop {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  width: calc(145px + 40vw);
  max-width: 95vw;
  border: 2px solid var(--primary-dark);
  padding: 3rem 1.5rem;
  word-wrap: break-word;
  z-index: 2;
}

.modal__content > h4 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.content__closeBtn, .content__focusBtn {
  padding: 0;
  position: absolute;
  width: min-content;
}

.content__closeBtn {
  top: 1rem;
  right: 1rem;
  color: var(--primary-dark);
  font-size: 1.5rem;
}

.content__closeBtn:hover {
  cursor: pointer;
}