.skills {
  --list-width: calc(25rem + 10vw);
  --button-max-width: 60vw;
  padding: var(--area-spacing);
  background-color: var(--bg-light);
}

.skills__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
  gap: 5rem 0rem;
}

.skillList {
  width: var(--list-width)
}

.skill__button {
  width: calc(var(--list-width) - 15rem);
  max-width: var(--button-max-width);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--primary-dark);
  padding: 0.5rem;
  font-size: inherit;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.skill:not(.skill:first-child) {
  margin-top: 1rem
}

.skill__button:hover, .skill__button:focus {
  color: var(--primary-light);
  background-color: var(--bg-dark);
  cursor: pointer;
}